/*
    primary color: #007bff
    font-color: #293347
    background-color: #2c3e50;
*/
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");

* {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body.en {
  display: hidden;
}

p:not(#about-me, #footercol1, #footercol2, #footercol3),
h3,
h5 {
  color: #2c3e50 !important;
}

h2,
h3,
h5 {
  font-weight: bold;
  margin: 15px 15px;
}

span + h3 {
  border-top: 1px solid black;
  height: 1px;
  content: " ";
  width: 20%;
  top: 1.2em;
}

h3 + span {
  display: inline;
}

h5#label-h5 {
  color: white !important;
}

header {
  font-family: "Titillium Web script=all rev=1";
  font-weight: bolder !important;
  font-style: normal;
}

footer {
  background-color: #2c3e50;
  color: white;
}

footer div div div p {
  color: white;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #2c3e50;
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: #2c3e50;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.div-progress {
  vertical-align: middle;
  margin-top: 3px;
  width: 75%;
  background-color: grey;
}

.progressbar-custom {
  vertical-align: middle;
  /*background-color: #2c3e50;*/
  background-color: white;
  color: #2c3e50;
}

.img-wrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.img-wrap img {
  width: 350px;
}

.navbar-custom {
  background-color: #2c3e50 !important;
}

#about-me-media {
  width: 50%;
}

.bg {
  background-image: url("assets/bg.jpg");
  color: white;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.titulo-div {
  font-size: 18px;
  font-weight: bold;
}

.return-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.round-button {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  background-color: #2c3e50 !important;
  border: #2c3e50;
}

.round-button.btn-xl {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.carousel-indicators {
  bottom: -30px !important;
}

.carousel-indicators li {
  background-color: #2c3e50;
}

img {
  border-radius: 5px;
}
